@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --light-background: #ffe5e5;
  --light-primary: #ac87c5;
  --light-secondary: #eea5a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--light-background);
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
  }
}