@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Variables de color */
:root {
  --background: linear-gradient(135deg, #f5f5f5, #bbdefb);
  --primary: #236ec5;
  --secondary: #aec9d7;
  --secondary-darker: #78909c;
  --text-primary: #646262;
  --text-secondary: #c7bdbd;
  --text-lighter: #dbd8d8;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

/* Estilos del cuerpo */
body {
  background: var(--background);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}

/* Estilos del título */
.title {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: var(--text-secondary);
}

/* Estilos del contenedor */
.container {
  width: 90vw;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1.5rem 0;
  border-radius: 0.2rem;
  background-color: var(--secondary);
}

/* Estilos de la contraseña */
.password {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-left: 2rem;
  font-weight: 700;
  color: var(--text-primary);
}

/* Estilos del botón de copiar */
#CopyButton {
  margin-right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary);
  transition: all 0.3s ease;
}

#CopyButton:hover {
  color: #eee;
}

/* Estilos específicos para el generador de contraseñas */
.container.generator {
  flex-direction: column;
}

.length {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.length .passwordLength {
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-left: 2rem;
  color: var(--text-primary);
  font-weight: 200;
}

.length .passwordLengthValue {
  margin-right: 2rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--primary);
}

.lengthInput {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 2rem 0;
  width: 100%;
}

.lengthInput input {
  -webkit-appearance: none;
  height: 4px;
  appearance: none;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--primary) 50%,
    var(--secondary-darker) 50%
  );
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin: 0 2rem;
  border-radius: 100rem;
}


.lengthInput input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  width: 15px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Estilos para las opciones */
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;
}

.option {
  margin-left: 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.option span {
  margin-left: 2rem;
  font-size: 1.4rem;
  color: var(--text-primary);
}

.option .wrapper {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.option .wrapper input {
  appearance: none;
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 0.2rem;
  outline: 0;
  cursor: pointer;
  transition: all 0.25s ease;
}

.option .wrapper label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  color: var(--secondary);
  --ionicon-stroke-width: 72px;
  cursor: pointer;
}

.option input:checked {
  background-color: var(--primary);
  border: 1.5px solid var(--primary);
}

/* Estilos del botón de generar contraseña */
.generatePassword {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#GeneratePasswordButton {
  position: relative;
  flex-grow: 1;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: var(--primary);
  outline: 0;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--text-secondary);
  transition: all 250ms ease-out;
  margin-bottom: 5px;
}

#GeneratePasswordButton p {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 999;
}

#GeneratePasswordButton ion-icon {
  font-size: 2rem;
  margin-left: 4rem;
}

#GeneratePasswordButton::before {
  content: '';
  position: absolute;
  background-color: var(--secondary-darker);
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  border-radius: 0.3rem;
  transition: transform 300ms ease-out;
}

#GeneratePasswordButton:hover {
  color: var(--text-lighter);
}

#GeneratePasswordButton:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Estilos oscuros */
@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(45deg, #1f1f20, #141318);
    --primary: #a6ffae;
    --secondary: #33323a;
    --secondary-darker: #222127;
    --text-primary: #eee;
    --text-secondary: #5f5d6b;
  }
}
